<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Portal</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home_Portal</a>
    </div>
  </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
	<div class="row">
	<div class="panel panel-defualt">
	<div class="panel-heading">
		<h3 class="panel-title">Torrent List</h3>
	</div>
	<div class="panel-body">
	<div class='pull-right row' style="margin-bottom: 10px;">
		<span class='date'></span><button id='updateTorrents' type="button" class="btn btn-primary"><span>Update</button></span>
	</div>
	<table id="torrentTable">
        </table>
	</div>
	</div>
	</div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="javascripts/app.js"></script>
</html>
