<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Portal</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="sortable.min.js"></script>
 <link rel="stylesheet" href="sortable-theme-bootstrap.css" />
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home_Portal</a>
    </div>
  </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
	<div class="row">
	<div class="panel panel-defualt">
	<div class="panel-heading">
		<h3 class="panel-title">Torrent List</h3>
	</div>
	<div class="panel-body">
	<table id="torrentTable" class="sortable-theme-bootstrap" data-sortable>
	<thead><tr><th>Torrent</th><th>Size</th><th>Date</th><th data-sortable="false">Link</th></tr></thead>
        </table>
	</div>
	</div>
	</div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/app.js"></script>
</html>
